/*This is our root colors*/
:root {
    --pink: rgb(168, 55, 168);
    --light: #EEEEEE;
    --dark: #2e2d2e;
}

/*This is our basic webpage elements*/
body {
    font-size: 16px; /*webpage font size*/
    font-family: 'Cascadia Code'; /*webpage font*/
    color: var(--light); /*webpage main color*/
    background-color: var(--dark); /*webpage background color*/
  }
/*This styles the header*/
header {
    display: block;
    clear: both;
    width: 100%;
    bottom: 0;
    padding: 30px;
    text-align: center;
    position: relative;
    margin-top: 0px;
}
/*This styles the header Title*/
header h1 {
    color: var(--pink);
    font-size: 250%;
    font-weight: bolder;
}
/*This styles the header description*/
header p {
    color: var(--white);
    font-size: 90%;
}
/*This places our containers and allows them to flew in 
rows, height and fill the page equally*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
}
/*This styles our containers borders, color and size*/
.container section {
    width: 500px;
    min-height: 100px;
    max-height: 600px;
    margin: 30px;
    border: 3px dashed var(--light);
    background-color: transparent;
}
/*This styles our containers titles*/
#title {
    position: relative;
    top: -30px;
    width: 90%;
    margin-left: 15px;
    border-style: solid;
    border-color: var(--light);
    padding: 5px;
    border-radius: 10px;
    font-size: 150%;
    font-weight: bolder;
    color: var(--pink);
    background-color: var(--dark);
    text-align: left;
}
/*This styles our container descriptions/instructions*/
.box #desc {
    color: var(--pink);
}
/*This styles our containers example text box*/
.box ul {
    color: var(--light);
    margin: 10px;
    border-radius: 20px;
    background-image: linear-gradient(
              rgba(232, 102, 236, 0.3) 0%,
              rgba(232, 102, 236, 0.6) 100%);
}
/*This styles our container example text*/
.box li {
    list-style-type: none;
}
/*This indents our example text except for the first and last list items*/
.box li:nth-child(n+2):nth-last-child(n+2) {
    margin-left: 25px;
}
/*This indents our color codes for container 4 in the example text*/
#color {
    color: var(--white);
    text-indent: 20px;
}
/*This is our footer/credits */
.footer {
    display: block;
    clear: both;
    width: 100%;
    bottom: 0;
    padding: 30px;
    text-align: center;
    color: var(--pink);
    position: relative;
    margin-bottom: 0px;
}
/*The below two sections will resize the containers to fit different screens*/
@media screen and (max-width: 992px) {
    .container section {
        width: 40%;
    }
}

@media screen and (max-width: 768px) {
    .container section {
        width: 100%;
    }
}